.dark1 {
  width: 390px;
  height: 360px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .dark1 {
    width: 964px;
    height: 610px;
    overflow: hidden;
    position: relative;
  }
}

.dark1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms;
}

.dark1:hover img {
  transform: scale(1.3) translateX(10%) translateY(10%);
  transition: 1s ease-out;
}

.dark1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(1, 19, 38, 1) 0%, rgba(1, 19, 38, 0) 100%);
}

.light1 {
  width: 390px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .light1 {
    width: 956px;
    height: 610px;
    overflow: hidden;
    position: relative;
  }
}

.light1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms;
}

.light1:hover img {
  transform: scale(1.3) translateX(-10%) translateY(10%);
  transition: 1s ease-out;
}

.light1::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
}


.text-overlay-dark {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  padding: 10px;
  color: white;
  font-family: 'Montserrat';
  font-size: 30px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .text-overlay-dark {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    padding: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 30px;
    margin-left: 142px;
  }
}

.text-overlay-dark span {
  color: #8570EB;
}


.text-overlay-light {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  color: white;
  font-family: 'Montserrat';
  font-size: 30px;
}

@media (min-width: 768px) {
  .text-overlay-light {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    color: white;
    font-family: 'Montserrat';
    font-size: 30px;
  }
}

.text-overlay-light span {
  color: #8570EB;
}